<div class="page-header">
  <a (click)="goBack()"
      class="back-arrow">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="current-page-title">Customers</span>
</div>
<mat-drawer-container class="main-page-container">
  <mat-drawer mode="side"
              [opened]="!(isHandset | async)"
              class="list-container">
    <app-customers-list></app-customers-list>
  </mat-drawer>
  <mat-drawer-content class="main-page-content-container">
    <app-customer-details *ngIf="!(isHandset | async)"></app-customer-details>
    <app-customers-list *ngIf="(isHandset | async)"></app-customers-list>
  </mat-drawer-content>
</mat-drawer-container>
