.list-container {
  padding: 5px;
}

.mat-icon-color {
  color: rgba(0,0,0,.87);
}

.container-header {
  display: flex;
  height: 40px;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.container-header-title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
